<!DOCTYPE html>
<html>
  <head>
    <title>workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
  <div class="header-logo">
    筋肉食堂
  </div>
  <ul class="header-menus">
    <li>筋肉食堂とは</li>
  </ul>
</header>
    <%= yield %>
  </body>
</html>
